.responsive-table{
    overflow-x:auto;
}

.responsive-table table td{
    width: auto !important;
}

table.sortable td.tablesorter-header,
table.sortable th.tablesorter-header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
    padding-right: 20px;
}

table.sortable .tablesorter-headerUnSorted {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}

table.sortable thead tr .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

table.sortable thead tr .tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

table td{
    border: 1px solid rgb(221, 221, 221);
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table thead > tr:first-child > td,
table > tr:first-child > td {
    font-weight: bold;
    background-color: #f9f9f9;
}
