.multisite-taxonomy-archive.blog .format-status .entry-title,
.multisite-all-tax-archive.blog .format-status .entry-title {
    display: block;
}

.topic-block {
    display: block;
    clear: both;
    overflow: hidden;
    margin-bottom: 14px;
}

.topic-block ul {
	margin-left: 0;
}

.topic-list li {
    float: left;
    display: inline-block;
    margin: 0;
    list-style-type: none;
}

.topic-list li a {
	font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    color: #008cc0;
    background-color: #ecede5;
    margin-right: 7px;
    margin-bottom: 10px;
    padding: 4px;
    padding-left: 11px;
    padding-right: 11px;
    display: block;
}

.wf-active .topic-list li a {
    font-family: 'proxima-nova', "Helvetica Neue", sans-serif;
}

.topic-block .topic-list li a{
    border-bottom: none;
}

.multisite_wp_query_sc article h2.h4 a,
.multisite-term-archive article h2.h4 a{
    border-bottom: none;
}


.multisite-term-archive  .multisite-term {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 1.5rem;
}
